[submodule "dependencies/cmake-utils"]
	path = dependencies/cmake-utils
	url = https://github.com/Sirflankalot/cmake-utils.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/mapbox-variant"]
	path = dependencies/mapbox-variant
	url = https://github.com/mapbox/variant.git
[submodule "dependencies/bin2c"]
	path = dependencies/bin2c
	url = https://github.com/Sirflankalot/bin2c.git
[submodule "dependencies/doctest"]
	path = dependencies/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "cmake-sanitizers"]
	path = dependencies/cmake-sanitizers
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "dependencies/cotire"]
	path = dependencies/cotire
	url = https://github.com/sakra/cotire.git
[submodule "dependencies/cpp_guidelines_support_library"]
	path = dependencies/cpp_guidelines_support_library
	url = https://github.com/Microsoft/GSL.git
[submodule "dependencies/rapidxml_ns"]
	path = dependencies/rapidxml_ns
	url = https://github.com/svgpp/rapidxml_ns.git
[submodule "fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "bsf"]
	path = dependencies/bsf
	url = https://github.com/cwfitzgerald/bsf.git
	branch = master
