[submodule "nova"]
	path = extern/nova
	url = https://github.com/BVE-Reborn/nova-renderer.git
	branch = bve-tracking
[submodule "cmake-helpers"]
	path = extern/cmake-helpers
	url = https://github.com/NovaMods/cmake-helpers.git
